table {
    border-collapse: collapse;
    width: 100%;
  }
  
th, td {
    text-align: center;
    padding: 15px;
}
  
tr:nth-child(even){background-color: #f2f2f2}
  
th {
    background-color: rgb(46, 96, 172);
    color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(46, 96, 172);
}

#jam-digital{overflow:hidden; width:350px; margin-left: 490px; margin-right: 490px}
#hours{float: left; width:100px; height:50px; background-color:#6B9AB8; margin-right:25px}
#minute{float:left; width:100px; height:50px; background-color:#A5B1CB}
#second{float:right; width:100px; height:50px; background-color:#FF618A; margin-left:25px}
#jam-digital p{color:#FFF; font-size:36px; text-align:center; margin-top:4px}